{{define "title"}}About{{end}}
{{define "main"}}
<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta dictum ultricies. Integer commodo ante eu lacinia semper. Fusce feugiat tristique risus, vitae dignissim sem pulvinar quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc porttitor imperdiet libero, ac viverra odio efficitur mollis. Nam eget tempus est. Duis efficitur mollis mauris et tempor. Quisque sodales mauris vitae ex suscipit volutpat. Nam nulla arcu, ornare ac sem quis, aliquet vehicula nisi. Praesent in tristique risus. Nulla commodo justo felis, nec eleifend erat egestas sed. Curabitur posuere faucibus est, eget posuere dui sagittis at. Nunc viverra velit nec pulvinar congue. Praesent elementum tortor id varius aliquam. </p>
{{end}}
